* {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__left {
  flex: 0.9;
}

.app__graph {
  margin-top: 10px;
  height: 270px;
}

.app__graphTitle{
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app{
    flex-direction: column;
  }
}